body {
  background-image: url(http://i696.photobucket.com/albums/vv323/trtousen/question1.jpg);
  font-family:'StoryBook',Times New Roman;
  font-size:25px;
  margin:25px;
  color:orange;
}

.The_Riddler {
  font: existence;
  text-shadow: 0px 0px 10px blue,
                     0px 0px 20px green,
                     0px 0px 30px green,
                     0px 0px 40px green,
                     0px 0px 50px green,
                     0px 0px 60px blue,
                     0px 0px 70px green;
  -webkit-animation-duration: 2.5s;
}
